@page "/"

@using Demo.MultiTenant.App.Entities
@using Microsoft.EntityFrameworkCore
@inject Demo.MultiTenant.App.DAL.TaskDbContext Db

<PageTitle>Home</PageTitle>

<h1>Tasks</h1>

@if (tasks == null)
{
    <p>Loading...</p>
}
else if (!tasks.Any())
{
    <p>No tasks found.</p>
}
else
{
    <ul>
        @foreach (var task in tasks)
        {
            <li>
                <strong>@task.Name</strong> - @task.Description
            </li>
        }
    </ul>
}

@code {
    private List<Entities.Task> tasks = new();

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        tasks = await Db.Tasks.ToListAsync() ?? new ();
    }
}
